

body {
  margin: 0;
  background:radial-gradient(rgba(0,0,0, 0.2) 30%, rgba(0,0,0, 0.3) 70%, rgba(0,0,0, 0.6) 90%), url(./images/bg_repeat.png);

  background-position-x: center;
  background-position-y: center;
  background-attachment: fixed;
  height: 100vh;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.editor {
  margin-top: 50px;
}

.navbar-desktop {
    display:block;
}

.navbar-mobile {
    display:none;
}

@media only screen and (max-width: 900px) {
    .navbar-desktop {
        display:none;
    }
    
    .navbar-mobile {
        display:block;
    }

  }